#### Create a Function

In [3]:
def greet():
    print("hello")
    print("how do you do")
greet()

hello
how do you do

#### Python arguments

In [5]:
def greet(name):
    print("hello",name)
    print("how do you do")
greet("sweety")

hello sweety
how do you do

##### Passing Multiple Arguments

In [10]:
def add_numbers(n1,n2):
    result = n1+n2
    print("The sum is",result)
    
number1 = 5.4
number2 =4.7
add_numbers(number1,number2)

The sum is 10.100000000000001

##### Return value from a function

In [11]:
def add_numbers(n1,n2):
    result = n1+n2
    return result
number1 = 5.4
number2 = 4.7
result = add_numbers(number1,number2)
print("The sum is",result)

The sum is 10.100000000000001

In [14]:
# Calculate the average marks
def average_marks(marks):
    sum_marks = sum(marks)
    total_subjects = len(marks)
    average_marks = sum(marks)/total_subjects
    return average_marks

# Calculate the grade and return it
def compute_grade(average_marks):
    if average_marks >=80:
        grade = "A"
    elif average_marks >=60:
        grade = "B"
    elif average_marks >=50:
        grade = "C"
    else:
        grade = "D"
    return grade

marks = [55,64,75,80,65]
average_marks = average_marks(marks)
print("your average marks is",average_marks)

grade = compute_grade(average_marks)
print("your grade is",grade)

your average marks is 67.8
your grade is B

In [15]:
# function to add two numbers
def add_numbers(num1, num2):
    return num1 + num2

# function to multiply two numbers
def multiply_numbers(num1, num2):
    return num1 * num2

number1 = 5
number2 = 30

sum_result = add_numbers(number1, number2)
print("Sum is", sum_result)

product_result = multiply_numbers(number1, number2)
print("Product is", product_result)

Sum is 35
Product is 150

In [6]:
def greet(first_name, last_name):
    print(f"Hi {first_name} {last_name}")
    print("welcome to abroad")
    
greet("Nagireddy" ,"mythili")
greet("Tathekalava","Thejith")
greet("Tathekalava")

Hi Nagireddy mythili
welcome to abroad
Hi Tathekalava Thejith
welcome to abroad

In [9]:
def increment(number,by=1):
    print(number+by)
print(increment(2))

3 6
None

In [11]:
def increment(number,another,by=2):
    print(number+by,another-by)
print(increment(2,8))

4 6
None

In [27]:
def multiply(*numbers):
    total=1
    for number in numbers:
        total *=number
    return total
print(multiply(2,3,4,5))

120

In [32]:
# In functions we use(**),this converts as dictionary automatically
def save_user(**user):
    print(user)
save_user(id=1,name="mythili",age=24)
save_user(id=2,name="Deekshitha",age=26)

{'id': 1, 'name': 'mythili', 'age': 24}
{'id': 2, 'name': 'Deekshitha', 'age': 26}

In [40]:
def fizz_buzz(input):
    if input % 3==0:
        return "fizz"
    else:
        return "buzz"
fizz_buzz(5)

'buzz'

In [44]:
def fizz_buzz(input):
    if input % 3==0:
        return "fizz"
    if input % 5==0:
        return "buzz"
    if input % 3==0 and input % 5==0:
        return "fizzbuzz"
    return input

print(fizz_buzz(7))

7

In [58]:
def max_of_two(x,y):
    if x>y:
        return x
    return y
def max_of_three(x,y,z):
    if x>y and x>z:
        return x
    elif y>x and y>z:
        return y
    else:
        return z
    
print(max_of_two(5,6))
print(max_of_three(7,3,5))

6
7

In [69]:
def sum(numbers):
    total=0
    for x in numbers:
        total+=x
    return total
print(sum((8,2,3,0,7)))

20

In [72]:
def multiply(numbers):
    total=1
    for x in numbers:
        total*=x
    return total
print(multiply((8, 2, 3, -1, 7)))

-336

In [74]:
def string_reverse(str1):
    rstr1=''
    index = len(str1)
    while index>0:
        rstr1 += str1[index -1]
        index = index-1
    return rstr1
print(string_reverse("1234abcd"))

dcba4321

In [75]:
num = int(input("enter a number to compute factorial "))
def factorial(num):
    if num==0:
        return 1
    else:
        return num * factorial(num-1)
print(factorial(num))

enter a number to compute factorial 5
120

In [81]:
def test_range(n):
    if n in range(5,9):
        print(" %s is in the range"%str(n))
    else:
        print("the number is outside the range")
test_range(7)

 7 is in the range

In [87]:
def string_test(s):
    d={'UPPER_CASE':0,'LOWER_CASE':0}
    for c in s:
        if c.isupper():
            d["UPPER_CASE"]+=1
        elif c.islower():
            d["LOWER_CASE"]+=1
        else:
            pass
        print("original string",s)
        print("no of capital letters",d["UPPER_CASE"])
        print("no of small letters",d["LOWER_CASE"])
        
string_test('The Quick Brown Box')

original string The Quick Brown Box
no of capital letters 1
no of small letters 0
original string The Quick Brown Box
no of capital letters 1
no of small letters 1
original string The Quick Brown Box
no of capital letters 1
no of small letters 2
original string The Quick Brown Box
no of capital letters 1
no of small letters 2
original string The Quick Brown Box
no of capital letters 2
no of small letters 2
original string The Quick Brown Box
no of capital letters 2
no of small letters 3
original string The Quick Brown Box
no of capital letters 2
no of small letters 4
original string The Quick Brown Box
no of capital letters 2
no of small letters 5
original string The Quick Brown Box
no of capital letters 2
no of small letters 6
original string The Quick Brown Box
no of capital letters 2
no of small letters 6
original string The Quick Brown Box
no of capital letters 3
no of small letters 6
original string The Quick Brown Box
no of capital letters 3
no of small letters 7
original string The Quick Brown Box
no of capital letters 3
no of small letters 8
original string The Quick Brown Box
no of capital letters 3
no of small letters 9
original string The Quick Brown Box
no of capital letters 3
no of small letters 10
original string The Quick Brown Box
no of capital letters 3
no of small letters 10
original string The Quick Brown Box
no of capital letters 4
no of small letters 10
original string The Quick Brown Box
no of capital letters 4
no of small letters 11
original string The Quick Brown Box
no of capital letters 4
no of small letters 12

In [94]:
def unique_list(l):
    x=[]
    for a in l:
        if a not in x:
            x.append(a)
    return x
print(unique_list([2,2,3,3,5,5,4,4]))

[2, 3, 5, 4]

In [105]:
def test_prime(p):
    if p==1:
        return "False"
    elif p==2:
        return "True"
    else:
        for x in range(2,p):
            if (p% x==0):
                return "False"
        return "True"
            
test_prime(7)

'True'

In [108]:
def even(numbers):
    for x in numbers:
        if x% 2==0:
            print("even number",x)
even([1, 2, 3, 4, 5, 6, 7, 8, 9])

even number 2
even number 4
even number 6
even number 8